@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* :root {
		--background: 217.2 50% 5%;
		--foreground: 217.2 5% 90%;
		--card: 217.2 50% 0%;
		--card-foreground: 217.2 5% 90%;
		--popover: 217.2 50% 5%;
		--popover-foreground: 217.2 5% 90%;
		--primary: 217.2 32.6% 17.5%;
		--primary-foreground: 0 0% 100%;
		--secondary: 217.2 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 179.2 30% 15%;
		--muted-foreground: 217.2 5% 60%;
		--accent: 179.2 30% 15%;
		--accent-foreground: 217.2 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 217.2 5% 90%;
		--border: 217.2 30% 18%;
		--input: 217.2 30% 18%;
		--ring: 217.2 32.6% 17.5%;
		--radius: 0.5rem;
	} */
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#72C6EF,#004E8F);

    --background: 212 52% 5.52%;
    --foreground: 212 8% 98.45%;

    --muted: 212 40% 20.7%;
    --muted-foreground: 212 8% 56.9%;

    --popover: 212 49% 8.969999999999999%;
    --popover-foreground: 212 8% 98.45%;

    --card: 212 49% 8.969999999999999%;
    --card-foreground: 212 8% 98.45%;

    --border: 212 40% 20.7%;
    --input: 212 40% 20.7%;

    --primary: 212 80% 69%;
    --primary-foreground: 212 8% 6.8999999999999995%;

    --secondary: 212 40% 20.7%;
    --secondary-foreground: 212 8% 98.45%;

    --accent: 212 40% 20.7%;
    --accent-foreground: 212 8% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 212 8% 98.45%;

    --ring: 212 80% 69%;
  }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
